*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: url("/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}
@media (width <= 1000px){
  body{
    background-image: url(../public/rick-and-morty-phone-purple-galaxy-yekigz0jgmmkp4t4.jpg);
    background-size: cover;
  }
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
}